* {
  text-decoration: 0;
  padding: 0;
  margin: 0;
}

html {
  height: 98%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
}
/*header*/
header {
  /*background-color: darkgrey;*/
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
  box-shadow: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.botoes {
  display: flex;
  align-items: center;
  height: 110%;
  width: 100%;
  padding-left: 10px;
  background-image: linear-gradient(to right, #6c6cff, rgb(4, 249, 167));
  gap: 10px;
}
.botoes a {
  border-radius: 10px;
  background-color: rgb(35, 35, 35);
  color: white;
  height: 80%;
  width: 07%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botoes a:active {
  transition: 60ms;
  background-color: rgb(99, 255, 198);
  color: rgb(46, 46, 46);
}
/*Login Page*/
.button-confirme {
  width: 35%;
  height: 10%;
}
.button-confirme button {
  background-color: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  width: 70%;
  height: 50%;
  border: 0;
  border-radius: 7px;
}
.button-confirme button:active {
  transition: 0.9ms;
  background-color: antiquewhite;
}

.login {
  border: 1px gray solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 35%;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 10px;
  gap: 13px;
}
.login input {
  width: 75%;
  height: 10%;
  border: 1px rgb(11, 11, 11) solid;
  border-radius: 7px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 150%;
}
#adm {
  visibility: hidden;
  background-color: red;
}

/*Home*/
.img-home {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  /*backgrund image*/
  background-image:
    linear-gradient(to right, #6c6cff58, #04f9a765, transparent),
    url(img/2f3aa492-d069-468d-bf7f-8bddc20ef55d-md.jpeg);
  background-size: cover;
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /*centro de texto*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*fonte*/
  font-size: 400%;
  color: white;
}
h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
p {
  font-size: 30px;
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  margin-bottom: 30px;
}

.text-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px #04f9a7 solid;*/
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  width: 78%;
  margin: 0 12%;
  color: rgb(40, 40, 40);
}
#home {
  background-image: linear-gradient(to right, #a4a4ffb6, #48ffc2c1);
}
footer {
  background-color: black;
  color: white;
  height: 150px;
}
footer p {
  text-align: left;
}
.retract {
  display: flex;
  flex-direction: column;
  font-size: 9px;
  margin-top: 10px;
}
.txt-sum {
  font-size: 10px;
  text-align: left;
}
.img-homes {
  width: 60%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#sobre-img {
  background-image: url(img/72ce1823-805e-4cb7-9fc8-ed9f78153b2e-md.jpeg);
}
#home-img {
  background-image: url(img/ChatGPT\ Image\ 17\ de\ jan.\ de\ 2026\,\ 15_47_41.png);
}
/*Admin*/
.titles {
  display: flex;
  gap: 15px;
  margin-left: 05px;
  margin-top: 03px;
  background-color: rgba(128, 128, 128, 0.281);
  box-shadow: 10px;
}
.titles a {
  /*border: 1px gray solid;*/
  box-shadow: 10px;
  width: 15%;
  color: rgb(255, 0, 0);
  background: linear-gradient(to right, #6c6cffbe, #04f9a7af);
}
.doc-des {
  display: none;
  background-color: rgba(223, 223, 223, 0.753);
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 13%;
}

.doc-des.active {
  display: block;
}

.doc-title {
  cursor: pointer;
}
#vermelho {
  color: red;
}
